



<a href="/blog" class="image image1 icon fa-signal" id="first"><img src="http://s3-media2.fl.yelpcdn.com/bphoto/p7ccntbcdBmrVKzUNCIFNw/o.jpg" width="200"></a>




<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/homepage.css" />
  <title>
    Girls And The Arts
  </title>
  <h1>Girls And The Arts</h1>
  <h3>The Three Main Arts and How Girls Shape Them</h3>
</head>
<body>
  <h4>Which form of art are you most interested in? Click on the box of your choice to begin!<h4>
  <br>
  <br>
  <br>
  <br>
  <img class="visual" src=https://i.pinimg.com/originals/49/3a/f0/493af0833b4df85a61bf20052c4d37fb.jpg>
  <p class="1">
  <h3>Music</h3>
  <br>
<h4>When you think of famous works of art you usually think of artists like Da Vinci, Monet, Degas,Van Gough, Picasso, Warhol,and Matisse. What do these artists all have in common? They are all male artists. Only 3-5% of major art collections in the US and Europe are made by women artists. 96.1% of artworks sold at auctions are by male artists.</h4> 
  </p>
  <img class="music" src=https://cdn180.picsart.com/230704009021202.jpg?r1024x1024>
  <p class="2">
    <h3>Music</h3>
    <br>
    <h4>Music is one of the most influential forms of art; the only thing is, women aren't that involved in it. In a recent study conducted in 2017, 83.2% of music artists are male, meanining that only 16.8% of music artists are female. On average in a week, a person spends about 32 hours listening to music (according to forbes.com) imagine how many women we could have take up those hours. </h4>
  </p>
  <img class="film" src=https://i.pinimg.com/originals/d3/46/3f/d3463f913ac70bce8d143301e58a748b.jpg>
  <p class="3">
  <h3>Film</h3>
  <br>
  <h4>The average american watches 5,000 movies in their lifetime.
  Only 12% of films have female directors, and only 17% have female writers.</h4> 
    </p>
  
</body>
</html>



<a href="/Music" class="music"><img src="https://cdn180.picsart.com/230704009021202.jpg?r1024x1024" width="200"></a>
